**/.vs
**/bin
**/obj
**/packages
/source/DirectX11TestBed/x64
*.filters
*.user
/source/x64
/source/BBIU_CSharp.VC.db
/source/BBIU_CSharp.VC.VC.opendb
/source/CPPD3DIntroduction/int/x64/Debug
/docs/_site
